* {
    margin:0;
    padding:0;
}

/* Gradient na początku strony  */
.TopBackgroud {
    height: 40px;
    width: 100%;
    background: rgb(47, 79, 79);
    background: linear-gradient(0deg, rgba(47,79,79,1) 13%, rgba(47,79,79,1) 28%, rgba(127,147,147,1) 67%, rgba(255,255,255,1) 90%);
}

/* Menu główne - nawigacja strony  */
.Nav ul
{
	background-color: white;
	list-style-type: none;
	font-size: 20px;
	display: flex;
	text-align: center;
    border-bottom-width: 10px;
    border-top-width: 10px;
    border-bottom-color: black;
    border-top-color: black;
    border-bottom-style: solid;
    border-top-style: solid;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
    padding-left: 0;
    margin: 0;
}

.Nav ul a
{
	color: black;
	text-decoration: none;
	display: block;
	padding: 20px;
}

.Nav ul > li
{
	float: left;
	width: 250px;
	height: 80px;
	flex: 1;
}

.Nav ul > li:hover
{
    background-color: darkslategrey;
    transition: all 1s ease;
}

.Nav a:hover{
    color: white;
    background-color: darkslategrey;
    box-shadow: 0 2px 3px gray;
    text-decoration: none;
    height: 40px;
    transition: all 0.5s ease;
}

/* Menu główne - część Strona Główna  */
.MainPage{
    width: 230px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    float: left;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: black;
    list-style-type: none;
	text-align: center;
    border-bottom-width: 10px;
    border-top-width: 10px;
    border-bottom-color: black;
    border-top-color: black;
    border-bottom-style: solid;
    border-top-style: solid;
}
.MainPage a{
    background-color: black;
    color: white;
    text-decoration: none;

}

/* Menu główne - część bez linku (Konto) */
.SubpageNoLink{
    line-height: 80px;
    height: 80px;
    background-color: white;
}

/* Menu główne - część rozwijana (login, logout, register) */
.SubpageColumn{
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    position: relative;
}

ul > li > ol {
  display:none;
}

ul > li:hover > ol {
  display:block;
}

.SubpageColumnNav{
    padding-top: 10px ;
}

/* Tytuł podstrony (w h1) */
.SubpageTitle{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Treść strony (główny container) */
.Page{
    display: block;
    margin-right: 320px;
    margin-left: 320px;
    margin-bottom: 30px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    text-align: justify;
}

/* Podtytuł (w h2) */
.Subtitle{
    margin-bottom: 20px;
    padding-left: 30px;
    border-width: medium;
    border-bottom-style: solid;
    border-color: darkslategrey;
    font-family: "Open Sans", sans-serif;
}

/* Pierwszy paragraf strony (pod podtytułem) */
.FirstParagraph{
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Kolejny podtytuł (h3) */
.ParagraphTitle{
    padding-left: 5px;
    padding-top: 25px;
    padding-bottom: 10px;
}


/* Stopka */
.Footer {
    padding-top: 10px;
    background-color: darkslategrey;
    color: #333;
    height: 100px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

/* Przypisy */
.Note{
    text-decoration: none;
    color: black;
}
.Note a:hover{
    color: black;
}
.NoteWhite{
    text-decoration: none;
    color: white;
}

.przypis a{
    text-decoration: none;
    color: #333333;
    padding-top: 20px;
    text-align: justify;
}
.przypis a:hover{
    color: black;
}


@media all and (max-width: 1200px) {
    .MainPage{
        height: 60px;
        line-height: 60px;
    }
    .Nav ul > li{
        height: 100px;
        line-height: normal;
    }
    .Nav a:hover{
        height: 60px;
    }
    .SubpageNoLink {
        height: 100px;
    }
    .SubpageColumn a:hover{
        height: 30px;
    }
    .Page {
        margin-right: 200px;
        margin-left: 200px;
    }
}

@media all and (max-width: 900px) {
    .TopBackgroud {
        width: 100%;
    }
    .MainPage{
        float: left;
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .MainPage a{
        margin-left: auto;
        margin-right: auto;
    }
	.Nav ul{
		flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .Nav ul > li{
        width: 100%;
    }
    .Nav a:hover{
        height: 30px;
    }
    .Subpage {
        margin-left: auto;
        margin-right: auto;
        border-left-style: none;
        border-right-style: none;
        border-top-style: none;
        border-bottom: 2px;
        border-bottom-style: solid;
        border-color: #999999;
    }
    .SubpageNoLink {
        height: 80px;
    }
    .Page {
        margin-right: 100px;
        margin-left: 100px;
    }
}

@media all and (max-width: 480px){
    .TopBackgroud {
        width: 100%;
    }
    .MainPage{
        float: left;
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .MainPage a{
        margin-left: auto;
        margin-right: auto;
    }
	.Nav ul{
		flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .Nav ul > li{
        width: 100%;
    }
    .Subpage {
        margin-left: auto;
        margin-right: auto;
        border-left-style: none;
        border-right-style: none;
        border-top-style: none;
        border-bottom: 2px;
        border-bottom-style: solid;
        border-color: #999999;
    }
    .Page {
        margin-right: 50px;
        margin-left: 50px;
    }
}