/* Dodatkowa konfiguracja Menu strona główna / ze względu na bootstrap */
.MainPage{
    width: 250px;
    height: 100%;
}
.MainPage a:hover{
    color: white;
    text-decoration: none;
}

/* Dodatkowa konfiguracja Menu ze względu na bootstrap */
.Nav a:hover{
    height: 80px;
}

.SubpageColumnNav{
    padding-left: 0;
}

.ProfilePic{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 50px;
}

.article-title{
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
}

.article-content{
    text-align: center;
}
.Pic{
    text-align: center;
    height: 500px;
    width: 100%;
}

.delete{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
.podpis{
    width: 100%;
    margin-top: 20px;
    border: 2px solid darkslategrey;
    padding: 10px;
}