.ozdobnik2
{
    width:100%;
    height: 150px;
    text-align: center;
    font-size: 50px;
    font-family: Arial;
    color: black;
    display: block;
    line-height: 150px;
}

.tresc{
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 40px;
    background-color: lightgrey;
    text-align: center;
    font-size: large;
    font-family: Arial;
    height: 800px;
}

.tabela{
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    border-collapse: collapse;

}

.tabela td {
   border: 1px solid black;
}

.tabelanag{
    background-color: darkslategrey;
    color: white;
}
