<!doctype html>
<html>
     <head>
          <meta charset="UTF-8" />
          <title>Korona Gór Polski</title>
          <link rel="icon" href="/flaskApp/staticpp/static/icon.jpg" sizes="16x16 32x32" type="image/jpg">
         <link rel="stylesheet" href="../static/basic.css" type="text/css" />
          <link rel="stylesheet" href="../static/ciekawostki.css" type="text/css" />
     </head>
     <body>
     <style> body{margin: 0px}</style>
        <div class="TopBackgroud">
        </div>
        <div class="pudelko">
            <div class="logo">
                <a  href="{{ url_for('start') }}">STRONA GŁÓWNA </a>
            </div>
            <div class="menu">
                <ul class="ulmenu">
                    <li class="limenu"> <a  href="{{ url_for('szczyty') }}"> SZCZYTY </a> </li>
                    <li class="limenu"> <a  href="{{ url_for('kzkgp') }}"> KZKGP </a> </li>
                    <li class="limenu"> <a  href="{{ url_for('ciekawostki') }}"> CIEKAWOSTKI </a> </li>
                    <li class="limenu"> <a  href="{{ url_for('quiz') }}"> QUIZ </a> </li>
                    <li class="limenu">
                    {% if current_user.is_authenticated %}
                        <a  href="{{ url_for('konto') }}">
                            KONTO  </a>
                    {% else %}
                        <div class="withoutLink">
                        KONTO
                        </div>
                    {% endif %}                        <ul class="menu2">
                            {% if current_user.is_authenticated %}
                            <li class="menuu"> <a class="rozwijana"  href="{{ url_for('logout') }}">Wyloguj</a> </li>
                            {% else %}
                            <li class="menuu"> <a class="rozwijana"  href="{{ url_for('login') }}">Logowanie </a> </li>
                            <li class="menuu"> <a class="rozwijana"  href="{{ url_for('register') }}">Rejestracja</a> </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ozdobnik2">
            Ciekawostki
        </div>
     <div class="tresc">
         <div class="first">
<h2 class="naglowek">Błędy w pomiarach.</h2>
Pierwszą taką kontrowersją można powiedzieć, jest umieszczenie w koronie - Chełmca, którego punkt pomiarowy znajdował się na 18-metrowej wieży widokowej i dzięki temu został uznany za najwyższy w Górach Wałbrzyskich, jednak w rzeczywistości najwyższa jest Borowa.
Jako najwyższy szczyt Gór Bardzkich figuruje Kłodzka Góra, chociaż nowsze pomiary wykazały, że wyższa jest położona nieopodal Szeroka Góra.
Najwyższym szczytem Gór Bystrzyckich wcale nie jest Jagodna (977 m n.p.m) ale do tej pory nienazwany formalnie wierzchołek o wysokości 985 m n.p.m. (na niektórych mapach jest on błędnie oznaczony jako Sasanka, która faktycznie leży 400 m na północny wschód od niego).
Także według nowych pomiarów najwyższym szczytem Gór Kaczawskich jest Góra Folwarczna (722 m n.p.m.), uważany wcześniej za wyższy Skopiec ma tylko 718,6 m n.p.m.

<h2 class="naglowek">Dalsze cele</h2>
No a jeżeli ktoś już jest bardziej zaawansowany i korona gór polskich to dla niego żaden problem to może spróbować swoich sił w zdobywaniu Wielkiej Korony Tatr.  Pomimo iż w tym spisie występuje o połowę mniej szczytów niż w Koronie Gór Polski, czyli jest ich 14, to jest on o wiele trudniejszy do zrealizowania.  Trudność polega na wysokości szczytów, ponieważ do listy tej mogą należeć szczyty o wysokości powyżej 2438 metrów nad poziomem morza, w porównaniu, w koronie gór polski większość szczytów jest poniżej 1000 metrów.
Korona Europy to spis najwyższych szczytów poszczególnych państw Europy. Korona Ziemi analogicznie, najwyższe szczyty poszczególnych kontynentów. No i na koniec Korona Himalajów i Karakorum, czyli 14 głównych szczytów o wysokości ponad 8 tysięcy metrów. To są już ogromne, wymagające determinacji wyzwana dla najlepszych alpinistów, a zarazem cel, który w obecnych czasach pozostaje w zasięgu możliwości również tych zapalonych amatorów.

 <h2 class="naglowek">Dlaczego warto?</h2>

Wędrówki po górach bardzo często oznaczają pokonywanie własnych słabości i ograniczeń. Są swego rodzaju próbą charakteru. Podejmowanie coraz trudniejszych wyzwań i zmierzanie się z coraz większymi przeszkodami wykształca w nas wolę walki. Nie szkodzi, że pot spływa z czoła, bolą wszystkie mięśnie, a wiatr niemiłosiernie smaga naszą twarz. Determinacja, by zdobyć szczyt jest ogromna.
Kolejną zaletą są korzyści zdrowotne Chodzenie po górach zdecydowanie poprawia naszą kondycję. Umacnia nasze mięśnie. Nasz organizm jest lepiej dotleniony. Układ oddechowy, krwionośny i nerwowy zaczyna sprawniej pracować. Wędrówki górskie to doskonała opcja dla osób cierpiących na nieustannie powracające choroby górnych dróg oddechowych. Takie spacery poprawiają także naszą kondycję psychiczną

         </div>


     </div>
     <div class="BottomLine">
     </div>
     <div class="Footer">
          Copyright Weronika Paterek 2021
     </div>
     </body>