<!doctype html>
<html>
     <head>
         <meta charset="UTF-8" />
         <title>Korona Gór Polski</title>
         <link rel="stylesheet" href="../static/hej.css" type="text/css" />
     </head>
     <div class="TopBackgroud"> </div>
     <body> <style> body{margin: 0px;}</style>

         <div class="strona">
             <a href="start.html">STRONA GŁÓWNA</a>
         </div>

                 <div class="nav">
                    <ul>
                        <li class="reszta"><a href="szczyty.html">SZCZYTY</a></li>
                        <li class="reszta"><a href="kzkgp.html">KZKGP</a></li>
                        <li class="reszta"><a href="galeria.html">GALERIA</a></li>
                        <li class="reszta"><a href="quiz.html">QUIZ</a></li>
                        <li class="reszta"><a href="konto.html">KONTO</a></li>
                    </ul>
                </div>
hejka hejka
</body>