<!doctype html>
<html lang="pl">
     <head>
         <meta charset="UTF-8" />
         <title>Korona Gór Polski</title>
         <link rel="icon" href="../static/pics/icon.jpg" sizes="16x16 32x32" type="image/jpg">
         <link rel="stylesheet" href="../static/basic.css" type="text/css" />
         <link rel="stylesheet" href="../static/kzkgp.css" type="text/css" />
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
     </head>
     <body>
     <style> body{margin: 0px}</style>
        <div class="TopBackgroud">
        </div>
        <div class="pudelko">
            <div class="logo">
                <a  href="{{ url_for('start') }}">STRONA GŁÓWNA </a>
            </div>
            <div class="menu">
                <ul class="ulmenu">
                    <li class="limenu"> <a  href="{{ url_for('szczyty') }}"> SZCZYTY </a> </li>
                    <li class="limenu"> <a  href="{{ url_for('kzkgp') }}"> KZKGP </a> </li>
                    <li class="limenu"> <a  href="{{ url_for('galeria') }}"> GALERIA </a> </li>
                    <li class="limenu"> <a  href="{{ url_for('quiz') }}"> QUIZ </a> </li>
                    <li class="limenu">
                    {% if current_user.is_authenticated %}
                        <a  href="{{ url_for('konto') }}">
                            KONTO  </a>
                    {% else %}
                        <div class="withoutLink">
                        KONTO
                        </div>
                    {% endif %}                        <ul class="menu2">
                            {% if current_user.is_authenticated %}
                            <li class="menuu"> <a class="rozwijana"  href="{{ url_for('logout') }}">Wyloguj</a> </li>
                            {% else %}
                            <li class="menuu"> <a class="rozwijana"  href="{{ url_for('login') }}">Logowanie </a> </li>
                            <li class="menuu"> <a class="rozwijana"  href="{{ url_for('register') }}">Rejestracja</a> </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ozdobnik2">
            Klub Zdobywców Korony Gór Polski
        </div>

        <div class="first">
                 <h2 class="naglowek">TREŚĆ</h2>
        TREŚĆ

        </div>
         <div class="obrazki">
             <div class="obrazek1">
                 <img src="../static/pics/ksiazka3.jpg" alt="KZKGP" style="width:25%; height:300px;">
             </div>
             <div class="obrazek2">
                 <img src="../static/pics/ksiazka1.jpeg" alt="KZKGP" style="width:25%; height:300px;">
             </div>
             <div class="obrazek3">
                 <img src="../static/pics/ksiazka.jpg" alt="KZKGP" style="width:25%; height:300px;">
             </div>
         </div>
        <div class="BottomLine">
        </div>
        <div class="Footer">
                 Copyright Weronika Paterek 2021
        </div>
     </body>