<!doctype html>
<html lang="pl">
     <head>
         <meta charset="UTF-8" />
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
         <title>Korona Gór Polski</title>
         <link rel="stylesheet" href="../static/basic.css" type="text/css" />
         <link rel="stylesheet" href="../static/start.css" type="text/css" />
         <link rel="icon" href="../static/pics/icon.jpg" sizes="16x16 32x32" type="image/jpg">
         <link rel="preconnect" href="https://fonts.gstatic.com">
         <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
         <link href='http://fonts.googleapis.com/css?family=Alata&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
         <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
     </head>

    <div class="TopBackgroud"> </div>

     <body>

         <div class="MainPage">
            <a class="MainPageControl" href="{{ url_for('start') }}">STRONA GŁÓWNA</a>
         </div>

         <div class="Nav">
             <ul class="SubpageNav">
                 <li class="Subpage"><a href="{{ url_for('szczyty') }}">Szczyty</a></li>
                 <li class="Subpage"><a href="{{ url_for('kzkgp') }}">Klub</a></li>
                 <li class="Subpage"><a href="{{ url_for('galeria') }}">Galeria</a></li>
                 <li class="Subpage"><a href="{{ url_for('quiz') }}">Quiz</a></li>
                 <li class="Subpage"><a href="{{ url_for('ostronie') }}">O Stronie</a></li>
                 <li class="Subpage">
                     {% if current_user.is_authenticated %}
                        <a  href="{{ url_for('konto') }}"> Konto  </a>
                     {% else %}
                         <div class="SubpageNoLink">
                             Konto
                         </div>
                     {% endif %}
                        <ol class="SubpageColumnNav">
                            {% if current_user.is_authenticated %}
                            <li class="SubpageColumn"> <a href="{{ url_for('logout') }}">Wyloguj</a> </li>
                            {% else %}
                            <li class="SubpageColumn"> <a href="{{ url_for('login') }}">Logowanie </a> </li>
                            <li class="SubpageColumn"> <a href="{{ url_for('register') }}">Rejestracja</a> </li>
                            {% endif %}
                        </ol>
                 </li>
             </ul>
         </div>

         <div class="ColorBackground">
             <div class="Title">
                 <h1 class="SubpageTitle"> KORONA GÓR POLSKI </h1>
             </div>
            <div class="SubpageTitleBackground">
               <img class="MainPagePhoto" src="../static/pics/MainPagePhoto.jpg" alt="Góry">
            </div>
         </div>

     <div id="panel">
         <div id="title"> </div>
    <div id="content">
        <a class="check" href="#Korona">Czym jest Korona Gór Polski? </a> <br>
        <a class="check" href="#Bledy"> Błędy w pomiarach </a> <br>
        <a class="check" href="#DalszeCele"> Dalsze cele </a>
    </div>
     </div>


         <div class="About">
             <h2 class="Subtitle">  <a class="Note" href="#przypis3"> Cześć górom!</a>  </h2>
            <div id="Quotation">
                Góry mają w sobie coś magicznego, człowiek nie zje, nie dośpi, pachnie coraz gorzej, ale nie chce przestać się wspinać. W górach liczy się tylko tu i teraz. Nikt nic ode mnie nie chce, telefon nie&nbspdzwoni, a ja czuję, że z każdym krokiem przekraczam granicę swoich możliwości. Kiedy&nbspna&nbsppoczątku wspinaczki człowiek stoi przed szczytem i patrzy na potężną górę, czuje się przytłoczony. Kiedy patrzy na tę samą górę już po zejściu- jest dumny i ma wrażenie, że może osiągnąć wszystko...
            </div>
           <p class="AuthorName"> - Martyna Wojciechowska, Przesunąć horyzont </p>
           <p>Cytat z książki Martyny Wojciechowskiej stanowi idealny opis odczuć, które towarzyszą człowiekowi podczas zdobywania górskich szczytów. Wędrówki po górach kształtują nie tylko ciało, ale również umysł i duszę.
            Mają one wiele zalet, dlatego warto je popularyzować. Taki cel obrali pomysłodawcy Korony&nbspGór&nbspPolski.</p>
         </div>

         <div class="diw">
             <img src="../static/pics/kgp.jpg" class="d-block w-100" alt="Góry" style="width:100%; height:300px;">
         </div>

         <div class="Page">

            <div id="Korona">
             <h2 class="Subtitle"> <a class="Note" href="#przypis4"> Czym jest Korona Gór Polski?  </a> </h2>
             <p class="FirstParagraph"> Korona Gór Polski jest to lista 28 szczytów, leżących w polskich pasmach górskich.  </p>

             <h4 class="ParagraphTitle"><a class="Note" href="#przypis5"> Co decydowało o wpisaniu szczytu na listę? </a> </h4>
             <p> Najczęściej są to szczyty najwyższe w swoich pasmach. </p>
             <p> W niektórych przypadkach jednak, pomysłodawcy listy nie byli zgodni z obecnym w&nbsp;tamtym czasie podziałem regionalizacji fizycznogeograficznej Polski (według Jerzego Kondrackiego). </p>
             <p> Decydującym o umieszczeniu szczytu na liście był fakt, czy na dany szczyt prowadzi znakowany szlak turystyczny oraz czy jest on atrakcyjny pod względem krajobrazowym. </p>

             <h4 class="ParagraphTitle"><a class="Note" href="#przypis6"> Pomysłodawcy KGP </a> </h4>
             Koncepcja Korony Gór Polski została przedstawiona w 1997 r. przez Marka Więckowskiego i&nbsp;Wojciecha Lewandowskiego w artykule o tytule "Korona Gór Polski, zakładamy klub zdobywców” w czerwcowym numerze czasopisma „Poznaj swój kraj”.
            </div>
         </div>
            <div class="poznaj">
                <h4 class="ParagraphTitle" id="ParagraphTitleWhite"><a class="NoteWhite" href="#przypis7"> Czasopismo Poznaj swój kraj </a></h4>
             <p> Poznaj swój kraj to polski miesięcznik krajoznawczo-turystyczny. Jego wyjątkowość opiera się na tym, że jako krajoznawczy jest jedynym, a jako turystyczny najstarszym w Polsce. Jego początki sięgają 1958 roku. </p>
             <p> Artykuły tego czasopisma promują Polskę, jej poszczególne regiony oraz turystykę.</p>
             <p> Stałe rubryki miesięcznika to m. in.  Wyprawa z plecakiem, Sposób na wycieczkę, Polskie miasta. W czasopiśmie ukazuje się również felieton prof.  Jerzego Bralczyka, w którym wyjaśnia on pochodzenie słów powiązanych z turystyką i krajoznawstwem.</p>
            </div>

        <div class="Page">
            <h4 class="ParagraphTitle"><a class="Note" href="#przypis8"> Oficjalne powstanie KGP </a></h4>
             13 grudnia 1997 roku dokonano oficjalnego potwierdzenia powstania Korony Gór Polski. Podczas spotkania zorganizowanego przez pomysłodawców KGP odbyła się inauguracja powstania Klubu Zdobywców Korony Gór Polski.

            <h4 class="ParagraphTitle"> <a class="Note" href="#przypis8">Idea korony gór polski </a> </h4>
             <p>Główną ideą Korony Gór Polski jest popularyzowanie turystyki krajoznawczej. </p>
             <p> Korona Gór Polski miała na celu spopularyzowanie mniej znanych pasm górskich oraz&nbsp;szczytów. Miała być również promocją różnych regionów Polski. Jej ogłoszenie miało spowodować odciążenie takich pasm górskich jak Tatry, czyli najpopularniejszych wśród turystów. </p>
         </div>

<div id="Bledy">
         <div class="Ciekawostki1">
             <h2 class="Subtitle1"> <a class="Note" href="#przypis9"> Błędy w pomiarach </a> </h2>
             <p class="FirstParagraphText"> Bieg czasu spowodował rozwój technologii, która pozwala na dokładniejsze pomiary wysokości szczytów. <br> W związku z tym, pojawiły się nieścisłości co do najwyższych szczytów danych pasm. </p>
         </div>

        <div class="pudełko1">
         <div class="pudeleczko1">
             <div id="con1">
             <h4 class="ParagraphTitle">Chełmiec</h4>
                  <p id="p1">  Chełmiec wpisany jest na listę jako najwyższy szczyt pasma Gór Wałbrzyskich. Jego wysokość jednak budzi wątpliwość, ponieważ początkowe pomiary zostały wykonane na&nbsp;wieży widokowej, mierzącej 18 metrów.  Rzeczywista wysokość Chełmca wynosi 851&nbsp;m&nbsp;n.p.m. Najwyższym szczytem Gór Wałbrzyskich jest Borowa (853 m n.p.m.).</p>
             </div>
              <div id="con2">
             <h4 class="ParagraphTitle">Lubomir</h4>
                   <p id="p2">  Lubomir to najwyższy szczyt pasma Beskidu Makowskiego. W oryginalnej liście KGP widnieje jako szczyt o&nbsp;wysokości 912 m n.p.m., jednak najnowsze badania wykazały, że ma on 904&nbsp;m&nbsp;n.p.m.</p>
              </div>
                   <div id="con3">
             <h4 class="ParagraphTitle"> Kłodzka Góra </h4>
                 <p id="p3"> Według listy KGP najwyższym szczytem Gór Bardzkich jest Kłodzka Góra (w&nbsp;liście KGP - 765 m n.p.m.).  W&nbsp;rzeczywistości wysokość tego szczytu to 757 m n.p.m., w związku z&nbsp;czym miejsce na liście powinna zająć Szeroka Góra (765 m n.p.m.).</p>
                   </div>
                   </div>
        </div>
         <div class="obrazek">
             <img src="../static/pics/kgp2.jpg" class="d-block w-100" alt="Góry" style="width:100%; height:200px;">
         </div>
</div>





<div id="DalszeCele">
         <div class="Ciekawostki">
        <div class="pudełko">
         <div class="pudeleczko">
             <h2 class="Subtitle">  Dalsze cele  </h2>
             <p class="FirstParagraph">  Korona Gór Polski to zaledwie wstęp do ogromu szczytów do pokonania, tych w&nbsp;Polsce i na całym świecie.</p>

             <h4 class="ParagraphTitle"> <a class="Note" href="#przypis10"> Wielka Korona Tatr </a> </h4>
             <p> Dla zaawansowanych miłośników gór celem może być Wielka Korona Tatr. Wszystkie należące do&nbsp;niej szczyty, a jest ich 14, są wyższe niż 8000 stóp angielskich (2438,4 m). Najniższym szczytem jest  Pośrednia Grań o wysokości 2441 m n.p.m., zaś najwyższym Gerlach  (2655 m n.p.m.). </p>

             <h4 class="ParagraphTitle"> <a class="Note" href="#przypis11"> Korona Świata </a> </h4>
             <p>Poważnym wyzwaniem jest zdobycie Korony Świata. Jako pierwszy zdobył ją Richard Bass. Pokonał on 7 najwyższych szczytów z każdego kontynentu. Ostatnim z siedmiu zdobytym przez niego szczytem był najwyższy szczyt świata, czyli Mount Everest (8848 m n.p.m.) w Azji. </p>
         </div>
         </div>
          </div>
</div>
         <div class="Carousel">
         <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../static/pics/karuzela1.jpg" class="d-block w-100" alt="..." style="width:100%; height:400px;">
              <div class="carousel-caption d-none d-md-block">
                <h5> <a href="{{ url_for('szczyty') }}"> Szczyty </a> </h5>
                <p> Sprawdź, które szczyty znajdują się na liście KGP! </p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../static/pics/karuzela2.jpg" class="d-block w-100" alt="..." style="width:100%; height:400px;">
              <div class="carousel-caption d-none d-md-block">
                <h5> <a href="{{ url_for('kzkgp') }}"> Klub </a> </h5>
                <p>Dowiedz się jak dołączyć do Klubu Zdobywców Korony Gór Polski!</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../static/pics/karuzela3.jpg" class="d-block w-100" alt="..." style="width:100%; height:400px;">
              <div class="carousel-caption d-none d-md-block">
                <h5><a href="{{ url_for('galeria') }}"> Galeria </a></h5>
                <p>Obejrzyj piękne zdjęcia w galerii!</p>
              </div>
            </div>
            <div class="carousel-item">
                  <img src="../static/pics/karuzela4.jpg" class="d-block w-100" alt="..." style="width:100%; height:400px;">
                  <div class="carousel-caption d-none d-md-block">
                    <h5><a  href="{{ url_for('quiz') }}"> Quiz </a></h5>
                    <p>Spróbuj swoich sił w quizie wiedzy o KGP!</p>
                  </div>
                </div>
            <div class="carousel-item">
                  <img src="../static/pics/karuzela5.jpg" class="d-block w-100" alt="..." style="width:100%; height:400px;">
                  <div class="carousel-caption d-none d-md-block">
                    <h5><a  href="{{ url_for('ostronie') }}"> O stronie </a></h5>
                    <p>Przeczytaj informacje o stronie!</p>
                  </div>
                </div>
            <div class="carousel-item">
                  <img src="../static/pics/karuzela6.jpg" class="d-block w-100" alt="..." style="width:100%; height:400px;">
                  <div class="carousel-caption d-none d-md-block">
                    <h5><a  href="{{ url_for('register') }}"> Rejestracja </a>  <a  href="{{ url_for('login') }}"> Logowanie </a></h5>
                    <p>Zaloguj się na stronie, aby uzyskać dodatkowe możliwości. Jeżeli nie masz konta zarejestruj się.</p>
                  </div>
                </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
         </div>
         </div>
<div>
                 <div class="Przypisy">
                     Przypisy
                 <div class="przypis" id="przypis3"> <a href="{{ url_for('ostronie') }}"> Cześć Górom: Wojciechowska M., Przesunąć horyzont, Warszawa, Wydawnictwo Słowne, 2015</a> </div>
                 <div class="przypis" id="przypis4"> <a href="{{ url_for('ostronie') }}"> Czym jest Korona Gór Polski: Strona  Klubu  Zdobywców  Korony  Gór  Polski  Oficyny  Wydawniczej  AMOS http://kgp.amos.waw.pl/najwyzszeszczyty.html, (dostęp: 12.03.2021)</a> </div>
                 <div class="przypis" id="przypis5"> <a href="{{ url_for('ostronie') }}"> Co decydowało o wpisaniu szczytu na listę: Kondracki  J.,  Geografia  regionalna  Polski,  Warszawa,  Wydawnictwo  Naukowe PWN, 1998 oraz Lewandowski W., Więckowski M., Korona Gór Polski. „Poznaj Swój Kraj” nr 422, s. 17, 1997 </a> </div>
                 <div class="przypis" id="przypis6"> <a href="{{ url_for('ostronie') }}"> Pomysłodawcy KGP: Lewandowski W., Więckowski M., Korona Gór Polski. „Poznaj Swój Kraj” nr 422, s. 17, 1997  </a> </div>
                 <div class="przypis" id="przypis7"> <a href="{{ url_for('ostronie') }}"> Czasopismo Poznaj swój kraj: Strona  czasopisma  Poznaj  swój  kraj  http://www.poznaj-swoj-kraj.pl/, (dostęp:12.03.2021)  </a> </div>
                 <div class="przypis" id="przypis8"> <a href="{{ url_for('ostronie') }}"> Oficjalne powstanie KGP, Idea korony gór polski: Lewandowski W., Więckowski M., Korona Gór Polski. „Poznaj Swój Kraj” nr 429, s.16, 1998 </a> </div>
                 <div class="przypis" id="przypis9"> <a href="{{ url_for('ostronie') }}"> Błędy w pomiarach: Kozioł  K.,  Maciuk  K.,  New  Heights  of  the  Highest  Peaks  of  Polish  Mountain  Ranges.  Remote  Sens.  2020,   https://doi.org/10.3390/rs12091446,   (dostęp: 7.03.2021)  </a> </div>
                 <div class="przypis" id="przypis10"> <a href="{{ url_for('ostronie') }}"> Wielka Korona Tatr: MarciszA.,Wielka Korona Tatr.Przewodnik wspinaczkowy po 14 osmiotysięcznikach tatrzańskich, Kraków, Wydawnictwo Bezdroża, 2020 </a> </div>
                 <div class="przypis" id="przypis11"> <a href="{{ url_for('ostronie') }}"> Korona Świata: Bass D., Wells F., Ridgeway R., Seven Summits, Nowy Jork, Warner Books, 1988 </a> </div>
             </div>
</div>
         <div class="Footer">
             <p>Copyright Weronika Paterek 2021</p>
         </div>
</body>
</html>
