<!doctype html>
<html lang="pl">
     <head>
         <meta charset="UTF-8" />
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
         <title>Korona Gór Polski</title>
         <link rel="stylesheet" href="../static/basic.css" type="text/css" />
         <link rel="stylesheet" href="../static/szczyty.css" type="text/css" />
         <link rel="icon" href="../static/pics/icon.jpg" sizes="16x16 32x32" type="image/jpg">
         <link rel="preconnect" href="https://fonts.gstatic.com">
         <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
         <link href='http://fonts.googleapis.com/css?family=Alata&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
         <link href='http://fonts.googleapis.com/css?family=Alatsi&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
         <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
     </head>

     <div class="TopBackgroud"> </div>

     <body>

         <div class="MainPage">
             <a href="{{ url_for('start') }}">STRONA GŁÓWNA</a>
         </div>

         <div class="Nav">
             <ul class="SubpageNav">
                 <li class="Subpage"><a href="{{ url_for('szczyty') }}">Szczyty</a></li>
                 <li class="Subpage"><a href="{{ url_for('kzkgp') }}">Klub</a></li>
                 <li class="Subpage"><a href="{{ url_for('galeria') }}">Galeria</a></li>
                 <li class="Subpage"><a href="{{ url_for('quiz') }}">Quiz</a></li>
                 <li class="Subpage"><a href="{{ url_for('ostronie') }}">O Stronie</a></li>
                 <li class="Subpage">
                     {% if current_user.is_authenticated %}
                        <a  href="{{ url_for('konto') }}"> Konto  </a>
                     {% else %}
                         <div class="SubpageNoLink">
                             Konto
                         </div>
                     {% endif %}
                        <ol class="SubpageColumnNav">
                            {% if current_user.is_authenticated %}
                            <li class="SubpageColumn"> <a href="{{ url_for('logout') }}">Wyloguj</a> </li>
                            {% else %}
                            <li class="SubpageColumn"> <a href="{{ url_for('login') }}">Logowanie </a> </li>
                            <li class="SubpageColumn"> <a href="{{ url_for('register') }}">Rejestracja</a> </li>
                            {% endif %}
                        </ol>
                 </li>
             </ul>
         </div>

        <div class="SubpageTitle">
           <h1> Lista szczytów Korony Gór Polski</h1>
        </div>

        <div class="Page">
           <table class="Table">
               <tr class="TableTitle"> <th>Nazwa szczytu</th><th>Wysokość</th><th>Pasmo</th></tr>
                <tr><td>Rysy</td><td>2499 m n.p.m.</td><td>Tatry</td></tr>
                <tr><td>Babia Góra</td><td>1725 m n.p.m.</td><td>Beskid Żywiecki</td></tr>
                <tr><td>Śnieżka</td><td>1602 m n.p.m.</td><td>Karkonosze</td></tr>
                <tr><td>Śnieżnik</td><td>1425 m n.p.m.</td><td>Masyw Śnieżnika</td></tr>
                <tr><td>Tarnica </td><td>1346 m n.p.m.</td><td>Bieszczady </td></tr>
                <tr><td>Turbacz </td><td>1310 m n.p.m.</td><td>Gorce </td></tr>
                <tr><td>Radziejowa </td><td> 1262 m n.p.m. </td><td>Beskid Sądecki</td></tr>
                <tr><td>Skrzyczne </td><td>1257 m n.p.m.</td><td>Beskid Śląski </td></tr>
                <tr><td>Mogielica </td><td>1171 m n.p.m.</td><td>Beskid Wyspowy</td></tr>
                <tr><td>Wysoka Kopa </td><td>1126 m n.p.m.</td><td>Góry Izerskie</td></tr>
                <tr><td>Rudawiec </td><td>1112 m n.p.m.</td><td>Góry Bialskie</td></tr>
                <tr><td>Orlica </td><td>1084 m n.p.m.</td><td>	Góry Orlickie</td></tr>
                <tr><td>Wysoka </td><td>1050 m n.p.m.</td><td>Pieniny</td></tr>
                <tr><td>Wielka Sowa </td><td>1015 m n.p.m.</td><td>Góry Sowie</td></tr>
                <tr><td>Lackowa </td><td>997 m n.p.m.</td><td>Beskid Niski</td></tr>
                <tr><td>Kowadło </td><td>989 m n.p.m.</td><td>Góry Złote</td></tr>
                <tr><td>Jagodna</td><td>977 m n.p.m.</td><td>Góry Bystrzyckie</td></tr>
                <tr><td>Skalnik</td><td>945 m n.p.m. </td><td>Rudawy Janowickie</td></tr>
                <tr><td>Waligóra</td><td>936 m n.p.m.</td><td>Góry Kamienne</td></tr>
                <tr><td>Czupel</td><td>934 m n.p.m.</td><td>Beskid Mały</td></tr>
                <tr><td>Szczeliniec Wielki</td><td>919 m n.p.m.</td><td>Góry Stołowe</td></tr>
                <tr><td>Lubomir </td><td>912 m n.p.m.</td><td>Beskid Makowski</td></tr>
                <tr><td>Biskupia Kopa </td><td>889 m n.p.m.</td><td>Góry Opawskie</td></tr>
                <tr><td>Chełmiec </td><td>869 m n.p.m.</td><td>Góry Wałbrzyskie</td></tr>
                <tr><td>Kłodzka Góra</td><td>765 m n.p.m.</td><td>Góry Bardzkie</td></tr>
                <tr><td>Skopiec </td><td>724 m n.p.m.</td><td>Góry Kaczawskie</td></tr>
                <tr><td>Ślęża</td><td>718 m n.p.m.</td><td>Masyw Ślęży (Przedgórze Sudeckie)</td></tr>
                <tr><td>Łysica</td><td>612 m n.p.m.</td><td>Góry Świętokrzyskie</td></tr>
            </table>
        </div>

         <div class="Map">
            <iframe src="https://www.google.com/maps/d/embed?mid=1LkW2FtkTiutg1MOki5UudGNBJlU5GVsw" width="850" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
         </div>

         <div class="Footer">
             <p>Copyright Weronika Paterek 2021</p>
         </div>

    </body>
</html>